:root {
    --white: #FFFFFF;
    --text-color: #141A21;
    --bg-dark: #4A4F5C;
    --text-color-second: #63707D;
    --bg: #F7F9FC;
    --bg-second: #EFF3F8;
    --border: #EBEFF4;
    --grey-gradient: linear-gradient(180deg, #F2F4F8 0%, #DEE4EF 100%);
    --blue-100: rgba(66, 133, 244, 0.05);
    --blue-500: #007aff;
    --blue-700: #006ee5;
    --green-100: rgba(44, 205, 128, 0.05);
    --green-700: #27AE60;
    --green-900: #229954;
    --red-100: rgb(235 87 87 / 0.05);
    --red-700: #EB5757;
    --red-900: #ca4545;
    --radius-sm: .25rem;
    --radius-md: .375rem;
    --radius-lg: .5rem;
    --font: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*, ::before, ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block
}

body {
    margin: 0;
    font-family: var(--font);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: var(--text-color);
    background-color: var(--bg);
    font-display: swap;
    -webkit-font-smoothing: antialiased
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 1px;
    border: 0;
    overflow: visible;
    background-color: var(--bg)
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    color: var(--text-color)
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--blue-500)
}

.dropdown-menu {
    padding: 0;
}

.dropdown-item {
    font-size: 14px;
    padding: 10px 16px;
}

.dropdown-item:hover {
    background: var(--bg-second);
}

label {
    font-weight: 500
}

.fs-12 {
    font-size: 12px !important;
}

.fs-14, .input-group-text {
    font-size: 14px
}

.fs-16 {
    font-size: 16px
}

.fs-18 {
    font-size: 18px
}

.fs-20 {
    font-size: 20px
}

.fs-24 {
    font-size: 24px
}

.fw-400 {
    font-weight: 500;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

.fw-900 {
    font-weight: 800;
}

.p-32 {
    padding: 32px;
}

.py-12 {
    padding: 12px 0;
}

.p-40 {
    padding: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.color-grey, .text-muted {
    color: var(--text-color-second) !important
}

.color-green {
    color: var(--green-700)
}

.bg-soft-green {
    background-color: var(--green-100)
}

.color-red {
    color: var(--red-700) !important;
}

.bg-soft-red {
    background-color: var(--red-100)
}

.color-blue {
    color: var(--blue-500)
}

.bg-soft-blue {
    background-color: var(--blue-100)
}

.bg-white {
    background-color: var(--white);
}

.bg-light {
    background-color: var(--bg) !important;
}

.header .navbar .dropdown-toggle::after {
    display: none;
}

.link {
    color: var(--blue-500)
}

.rounded {
    border-radius: 12px !important;
}

.rounded-8 {
    border-radius: 8px;
}

.border {
    border: 2px solid var(--border) !important;
}

.hover {
    transition: all 0.3s;
    cursor: pointer
}

.hover:hover {
    background: var(--bg);
}

.shadow {
    box-shadow: 0px 8px 24px -12px rgba(180, 191, 208, 0.63) !important;
}

.input-group {
    background-color: transparent;
    border: 1px solid var(--border);
    border-radius: 8px;
}

.input-group-text {
    background: transparent;
    border: 0;
}

.input-group .form-control {
    border: 0;
    background-color: transparent;
}

.form-control {
    min-height: 56px;
    border-color: var(--border);
    border-radius: 8px;
}

.form-control::placeholder {
    color: var(--text-color-second);
}

.btn {
    font-size: 1rem;
    line-height: 1;
    padding: 16px 32px;
    border-radius: 6px;
    transition: all 0.2s;
    font-weight: 500;
}

.btn-sm {
    padding: 14px 28px;
    font-size: 14px;
    font-weight: 500;
}

.btn.btn-secondary {
    background-color: var(--text-color);
    border-color: var(--text-color);
}

.btn.btn-secondary:hover {
    background-color: var(--bg-dark);
    border-color: var(--bg-dark);
}

.btn.btn-outline-secondary {
    border-color: var(--border) !important
}

.btn.btn-outline-secondary:hover {
    border-color: var(--bg);
    background-color: var(--bg);
    color: var(--text-color)
}

.btn.btn-success {
    border-color: var(--green-700);
    background-color: var(--green-700);
    color: var(--white)
}

.btn.btn-success:hover {
    border-color: var(--green-900);
    background-color: var(--green-900);
    color: var(--white)
}

.btn.btn-outline-success {
    border-color: var(--green-100);
    background-color: var(--green-100);
    color: var(--green-700);
}

.btn.btn-outline-success:hover {
    border-color: var(--green-700);
    background-color: var(--green-700);
    color: var(--white)
}

.btn.btn-danger {
    border-color: var(--red-700);
    background-color: var(--red-700);
    color: var(--white)
}

.btn.btn-outline-danger {
    border-color: var(--red-100);
    background-color: var(--red-100);
    color: var(--red-700);
}

.btn.btn-danger:hover {
    border-color: var(--red-900);
    background-color: var(--red-900);
    color: var(--white)
}

.btn.btn-outline-danger:hover {
    border-color: var(--red-700);
    background-color: var(--red-700);
    color: var(--white)
}

.btn.btn-outline-secondary {
    border-color: var(--bg)
}

.btn.btn-outline-secondary:hover {
    border-color: var(--bg);
    background-color: var(--bg);
    color: var(--text-color)
}

.border-top, .border-bottom, .border {
    border-color: var(--bg) !important;
}

.header {
    backdrop-filter: blur(8px);
    min-height: 80px;
    display: flex;
    align-items: center;
}

.navbar {
    min-width: 100%;
}

.header__logo {
    margin-right: 70px;
}

.navbar .nav-item .nav-link {
    color: var(--text-color);
    padding: 16px;
}

.navbar .nav-item .nav-link.active, .navbar .nav-item .nav-link:hover {
    color: var(--blue-500);
}

.nav__category {
    background-color: var(--bg-second);
}

.nav__category > .cat__link {
    padding: 16px 0;
    border-radius: 8px;
    line-height: 1;
    font-weight: 500;
    color: var(--text-color-second);
}

.nav__category > .cat__link:hover {
    color: var(--text-color)
}

.nav__category > .cat__link.active {
    background: var(--white);
    box-shadow: 1px 2px 2px #DBE2EB;
    color: var(--text-color);
}

@media (max-width: 500px) {
    .card-body.p-40, .modal-content.p-40 {
        padding: 24px !important;
    }

    .modal-content {
        border-radius: 0 !important;
        min-height: 100vh
    }

    .mobile-modal-bottom .modal-content {
        margin-top: auto;
        min-height: auto;
        padding: 40px 24px !important;
    }

    .modal.fade .modal-dialog.mobile-modal-bottom {
        transform: translate(0, 16px) !important
    }
}

.wrapper {
    padding-bottom: 50px;
    min-height: 100vh;
    position: relative;
}

.wallet-address {
    background: var(--bg-dark);
    border-radius: 5px;
    padding: 10px;
    margin-left: 16px;
    font-size: 12px;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.bg-circle::after {
    content: '';
    position: fixed;
    bottom: 0px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 400px;
    background: url(/images/bg-circle.svg) no-repeat center center / contain;
    z-index: -1;
}

.bg-circle svg {
    width: 100%;
    height: auto;
}

.accordion-item {
    cursor: pointer;
    border: 0 !important;
    background: transparent;
}

.accordion-item .fa-angle-right {
    transform: rotate(0deg);
    transition: all .3s;
}

.accordion-item[aria-expanded="true"]:last-child {
    border-bottom: 1px solid var(--bg) !important
}

.accordion-item[aria-expanded="true"] .fa-angle-right {
    transform: rotate(90deg)
}

.accordion-item__images {
    position: relative;
}

.accordion-item__images img {
    border-radius: 100%;
    border: 2px solid #fff;
    position: relative;
}

.accordion-item__images-small {
    width: 40px;
    height: 40px;
    position: relative;
    margin-left: -20px;
    top: 1px;
}

.modal-dialog {
    max-width: 526px;
    width: 100%;
    margin: auto;
}

.token-form__item {
    border-bottom: 1px solid var(--bg)
}

.token-form__item:last-child {
    border: 0;
}

.overflow-auto::-webkit-scrollbar {
    width: 6px;
}

.overflow-auto::-webkit-scrollbar-track {
    background: var(--bg);
    border-radius: 10px;
}

.overflow-auto::-webkit-scrollbar-thumb {
    background: var(--text-color-second);
    border-radius: 10px;
}

.overflow-auto::-webkit-scrollbar-thumb:hover {
    background: var(--bg);
}

.table {
    margin: 0;
}

.table thead th {
    vertical-align: middle;
    border: 0 !important;
    background: var(--blue-100);
}

.table td, .table th {
    vertical-align: middle;
    border: 0 !important;
    padding: 16px;
}

.table tr {
    border-bottom: 1px solid var(--blue-100);
    transition: background 0.3s ease;
}

.table tr:hover {
    background: var(--blue-100)
}

.table thead th {
    border: 0 !important;
}

a.tooltips span {
    display: none;
    padding: 2px 3px;
    margin-left: 8px;
    max-width: 230px;
}

a.tooltips:hover span {
    display: inline;
    position: absolute;
    background: var(--text-color);
    color: var(--white);
    font-size: 12px;
    border-radius: 8px;
    padding: 12px;
}

.dots, .main-desc.dots {
    position: absolute;
    bottom: 4px;
    font-size: 16px
}

.dot-one, .main-desc .dot-one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0;
    animation: dot 1.3s infinite;
    animation-delay: 0
}

.dot-two, .main-desc .dot-two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: .2s;
    animation: dot 1.3s infinite;
    animation-delay: .2s
}

.dot-three, .main-desc .dot-three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: .3s;
    animation: dot 1.3s infinite;
    animation-delay: .3s
}

@-webkit-keyframes dot {
    0% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes dot {
    0% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1b1f24;
        color: #fdfcff;
    }

    .btn {
        color: #fdfcff;
    }

    .btn:hover {
        color: #c8c3d2;
    }

    .btn.btn-outline-secondary {
        border-color: #1b1f24 !important
    }

    .btn.btn-outline-secondary:hover {
        background: #1b1f24 !important;
        color: #fdfcff;
    }

    a, h1, h2, h3, h4 {
        color: #fdfcff;
    }

    .card {
        background-color: #121418;
        box-shadow: none !important;
    }

    .card-title, .modal-title {
        color: #fdfcff;
    }

    .nav__category > .cat__link:hover {
        color: #fdfcff;
    }

    .input-group {
        border-color: #1b1f24
    }

    .bg-soft-blue {
        background-color: #1b1f24
    }

    .nav__category {
        background-color: #121418;
    }

    .nav__category > .cat__link.active {
        background: #1b1f24;
        box-shadow: 1px 2px 2px #0000001c;
        color: #fdfcff;
    }

    .navbar .nav-item .nav-link {
        color: #fdfcff;
        padding: 16px;
    }

    .bg-circle::after {
        opacity: .6;
        background: #1b1f24 url(/images/bg-circle-dark.svg) no-repeat center center / contain;
    }

    .dropdown-menu {
        background: var(--text-color);
    }

    .dropdown-item {
        color: #fdfcff;
    }

    .dropdown-item:hover {
        color: #fdfcff;
        background: rgb(27 31 36 / 48%);
    }

    .modal-content {
        background: #121418;
    }

    .hover:hover {
        background: #1b1f24;
    }

    .overflow-auto::-webkit-scrollbar {
        width: 6px;
    }

    .overflow-auto::-webkit-scrollbar-track {
        background: var(--blue-100);
        border-radius: 10px;
    }

    .overflow-auto::-webkit-scrollbar-thumb {
        background: var(--blue-100);
        border-radius: 10px;
    }

    .overflow-auto::-webkit-scrollbar-thumb:hover {
        background: #121418;
    }

    .alert.bg-white {
        background: #121418 !important;
    }

    .shadow {
        box-shadow: 0 24px 24px -24px rgb(0 0 0 / 24%) !important;
    }

    .form-control {
        color: #fdfcff !important;
    }

    .table {
        color: #fdfcff;
    }

    .border {
        border-color: var(--blue-100) !important
    }

    .accordion-item__images img {
        border: 2px solid #121418;
    }
}
