.delab-modal-root {
    opacity: 0 !important;
}

.qr-delab {
    padding: 0 !important;
    width: 280px !important;
    height: 280px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-delab svg {
    /*margin: 10px !important;*/
}

.delab-modal-block {
    border-radius: 12px !important;
    height: 447px;
}

.delab-modal-root-active {
    opacity: 1 !important;
}

.delab-modal-root * {
    line-height: normal !important;
    /*box-sizing: unset !important;*/
    /*-webkit-box-sizing: unset !important;*/
}


.delab-modal-horizontal-block {
    height: 105px !important;
    border-radius: 8px !important;
}

.delab-button {
    justify-content: center !important;
    font-weight: 500 !important;
    border-radius: 6px !important;
    font-size: 1rem !important;
    line-height: 1 !important;
    padding: 16px 32px !important;
}

.delab-modal-header-right {
    border-radius: 8px !important;
}
